# Python
__pycache__/
*.py[cod]

# Virtual env
.venv/

# Build
build/
dist/

# Logs
logs/

# Runtime data
data/cache/*
!data/cache/.gitkeep

data/output/*
!data/output/.gitkeep

data/temp/*
!data/temp/.gitkeep

# Coverage
htmlcov/
.coverage
.pytest_cache/

# IDE
.vscode/
.idea/